<!DOCTYPE html>
{% load static %}
<html lang='ko'>
<head>
    <meta charset="UTF-8">
    <title>Review</title>
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
	    <table class="table table-striped">
	    	<thead>
	    		<tr>
	    			<th>번호</th>
	    			<th>내용</th>
	    			<th>작성자</th>
	    			<th>날짜</th>
	    			<th>추천수</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
	    		<tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
	    		<tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
                <tr>
	    			<td>165</td>
	    			<td>이제 곧 웹 앱이 완성됩니다.</td>
	    			<td>김태환</td>
	    			<td>2016.12.02</td>
	    			<td>2</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <hr/>
	    <div class="text-center">
	    	<ul class="pagination">
				<li><a href="#"><<</a></li>
				<li><a href="#"><</a></li>
	    		<li><a href="#">1</a></li>
	    		<li><a href="#">2</a></li>
	    		<li><a href="#">3</a></li>
	    		<li><a href="#">4</a></li>
	    		<li><a href="#">5</a></li>
				<li><a href="#">></a></li>
				<li><a href="#">>></a></li>
	    	</ul>
	    </div>
    </div>
<script src="{% static 'assets/js/jquery.min.css' %}"></script>
<script src="{% static 'assets/js/bootstrap.css' %}"></script>
</body>
</html>