{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE HTML5>
{% load static %}
<html>
    <head>
        <title>로그인</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/signIn.css' %}">
    </head>
    <!--2a3a4b-->
    <body width="100%" height="100%">
        <form action="/postsignIn/" method="post" class="loginForm">
            {% csrf_token %}
            <h2 style="color:#FFFFFF; cursor:context-menu;">Login</h2>
            <div class="idForm">
                <input type="text" class="id" name="email" placeholder="ID" style="color:#FFFFFF">
            </div>
            <div class="passForm">
                <input type="password" class="pw" name = "pass" placeholder="PW" style="color:#FFFFFF">
            </div>
            <input type="submit" class="btn" value="LOG IN">
            <div class="bottomText">
                <p style="color:#FFFFFF; cursor:context-menu;">Don't you have ID? </p><a href="/signUp">sign up</a>
            </div>
        </form>
    </body>
</html>