<!DOCTYPE HTML5>
{% load static %}
<html>
    <head>
        <title>로그인</title>
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/signIn_err.css' %}">
    </head>
    
    <body width="100%" height="100%">
        <form action="index.html" method="post" class="loginForm">
            <h2 style="color:#FFFFFF;">Login</h2>
            <div class="idForm">
                <input type="text" class="id" placeholder="ID" style="color:#FFFFFF">
            </div>
            <div class="passForm">
                <input type="password" class="pw" placeholder="PW" style="color:#FFFFFF">
            </div>
            <p class="errMsg">오류!</p>
            <button type="button" class="btn" onclick="location.href='/signIn_err'">
            LOG IN
            </button>
            <script>
                let button = () => {
                alert('login Button !')
                }
            </script>
            <div class="bottomText">
                <p style="color:#FFFFFF;">Don't you have ID? </p><a href="/signUp">sign up</a>
            </div>
        </form>
    </body>
</html>